<body class="w-full bg-zinc-100  items-center">

 <div class="container:auto max-w-md mx-auto p-8 rounded-lg mt-8">
    <form action="/rsvp" method="POST">
      <div class="text-center">
        <button type="submit" class="w-full bg-zinc-300 text-white font-semibold px-4 py-2 rounded-lg hover:bg-zinc-300 focus:outline-none focus:ring-2 focus:ring-zinc-300 focus:ring-opacity-75 ring-white ">RSVP</button>
      </div>
    </form>
  </div>
</body>

