/* This file is for your main application CSS */
@import "./phoenix.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.vl {
  border-left: 1px solid #d4af37;
  height: 6rem;  
  margin-left: 50%;
  margin-bottom: 3rem;
  top: 0;
}

.cinzel-decorative-regular {
  font-family: "Coromorant Garamon", serif;
  font-weight: 400;
  font-style: bold;
  letter-spacing: 2px;

}
.container{
  margin: 0 auto;
  max-width: 80.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%
}
.white_color {
  color: #ffffff; /* White text color */
}
.couples-names{
  @apply place-self-stretch;
  font-family: "Coromorant Garamon", serif;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 300;
  font-style: normal;
  @apply col-span-3;
  @apply text-right;
  @apply sm:text-7xl;
  @apply text-5xl;

  @apply place-content-stretch;
  border-right: 1px solid black;
}
#anchor {
  scroll-padding-top: 100px;
}
#firstform {
  scroll-margin-top: 150px;
}
.wedding-date{
  font-family: "Varela Round", serif;
  font-weight: 500;
  @apply pl-6;
  @apply text-8xl;
  @apply text-gold;
}
.and-between-couple-names{
  @apply pt-8;
  border-right: 1px solid black;
  @apply col-span-3;
  @apply text-right;
  @apply text-3xl;
  @apply pr-6;
}
.couples-last-names{
  letter-spacing: 6px;
  @apply col-span-3;
  @apply text-right;
  @apply text-4xl;
  @apply pr-2;
  border-right: 1px solid black;
  text-transform: uppercase;

}

.google-map iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  @apply bg-white;
  background-color: #d4af37;
  border-color: #d4af37;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

button{
  @apply font-bold;
  @apply text-white;
  border: 0.1rem solid transparent;
  background: black;
  @apply w-full;
}
button:hover{
  cursor: pointer;
  color: black;
  background: white;
  border: 0.1rem solid black;

}

input:hover{
  cursor: pointer;
}
input:focus{
  cursor: pointer;
  border: 0.1rem solid #d1d1d1;
  border-color: #d1d1d1;
}

hr{
  width: 40%;
  @apply mx-auto;
  @apply mt-20;
  @apply mb-20;
  border: 0.05rem solid #d4af37;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
